.drawing-board-wrapper{
    .notActive {
        opacity: 0.5;
        pointer-events: none;
    }

    .card-layout {
        display: inline-block;
    }

    img {
        width: 100%;

        &:hover{
            background-color: red;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}