.card-layout {
    display: inline-block;

    &.notActive {
        // pointer-events: none;
        opacity: 0.5;
    }
}

img {
    width: 100%;

    &:hover{
        background-color: red;
        border-radius: 10px;
        cursor: pointer;
    }
}