.selected-board-wrapper {
    float: right;
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    background-color: #709090;
    .select-class-container {
        .player-class {
            margin: 0;
            padding: 5px 20px;
            &:hover {
                color: white;
                cursor: pointer;
                background-color: #6666ad;
            }
        }
    }
    .player-class {
        border-bottom: 1px solid #adb4bf;
        &.selected {
            padding: 20px;
            background-color: aqua;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .headline {
        height: 60px;
        padding-top: 20px;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #292828;
    }
    .card {
        position: relative;
        border-bottom: 1px solid #adb4bf;
        &:hover {
            color: white;
            cursor: pointer;
            background-color: #f44336;
            .card-image {
                display: block;
            }
        }
        &.drawing-state {
            cursor: default;
        }
        &:last-child {
            border-bottom: none;
        }
        .player-class {
            border-bottom: none;
        }
    }
    span {
        display: inline-block;
    }
    .cost {
        width: 50px;
        padding: 20px;
        color: white;
        background-color: #6666ad;
    }
    .name {
        margin-left: 10px;
    }
    .player-class {
        margin-left: 10px;
        font-weight: bold;
    }
    .card-image {
        position: absolute;
        top: -80px;
        left: -150px;
        z-index: 10;
        display: none;
        width: 150px;
        background-color: #f44336;
        border-radius: 10px;
    }
}