<div class="container login-wrapper">
    <div class="form-container">
        <h2 class="text-center headline">{{messageLogin}}</h2>
        <form class="login-form">
            <div class="row">
                <div class="form-group col-xs-12">
                    <input class="form-control" type="text" v-model="user.username" placeholder="Enter username">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <input class="form-control" type="password" v-model="user.password" placeholder="Enter password">
                </div>
            </div>
            <div class="text-center">
                <button class="login-button btn" type="button" @click="login" v-bind:disabled="!formValid">Come on inn!</button>
            </div>
            <div v-if="errorMessage" class="alert alert-danger marg-top text-center">{{errorMessage}}</div>
        </form>
    </div>
</div>