.login-wrapper {
    margin-top: 30vh;
    margin-bottom: 100px;
    .headline {
        margin-bottom: 30px;
        color: white;
    }
    .form-container {
        max-width: 400px;
        margin: 0 auto;
    }
    .marg-top {
        margin-top: 20px;
    }
    .login-form {
        padding: 0 50px;
    }
    .login-button {
        width: 160px;
        margin-top: 20px;
    }
    .form-control {
        color: white;
        letter-spacing: 2px;
        box-shadow:inset 0 0 10px #000;
        background: transparent;
    }
}