.login-wrapper {
    margin-top: 30vh;
    margin-bottom: 100px;
    .headline {
        color: white;
    }
    .form-container {
        max-width: 400px;
        margin: 0 auto;
    }
    .marg-top {
        margin-top: 20px;
    }
}