<div>
    <other-players 
        v-if="currentState === states.drawing" 
        v-bind:players="players"
    ></other-players>
    <ad-header 
        v-if="currentState === states.waiting || currentState === states.joining"
        v-bind:username="username" >
    </ad-header>
    <home 
        v-if="currentState === states.joining"
        @join="joinHandler"
        v-bind:hideJoin="hideJoinButton">
    </home>
    <login 
        v-if="currentState === states.logging"
        @login="loginHandler"
        v-bind:errorMessage="errorMessage" >
    </login>
    <waiting 
        v-if="currentState === states.waiting" 
        v-bind:isJoined="isJoined"
        @acceptGame="acceptGameHandler"
        @rejectGame="rejectGameHandler"
    ></waiting>
    
    <drawing-board 
        v-if="currentState === states.drawing || currentState === states.building"
        v-bind:currentState="currentState" 
        v-bind:cards="cards" 
        v-bind:isCardSelected="isCardSelected"
        v-bind:playerClass="playerClass"
        @buildCard="buildCardHandler" 
        @selectCard="selectCardHandler">
    </drawing-board>

    <selected-board
        v-if="currentState === states.drawing || currentState === states.building"
        v-bind:playerClass="playerClass"
        v-bind:currentState="currentState"
        v-bind:selectedCards="selectedCards"
        @selectPlayerClass="selectPlayerClassHandler"
        @removeSelected="removeSelectedHandler"
        @sendSelectedDeck="sendSelectedDeckHandler">
    </selected-board>



    <div class="state-buttons">
        <button @click="changeState('logging')">logging State</button>
         <button @click="changeState('joining')">joining State</button>
        <button @click="changeState('waiting')">waiting State</button>
        <button @click="changeState('drawing')">drawing State</button>
        <button @click="changeState('building')">building State</button>
    </div>
</div>