@font-face {
    font-family: belweFont;
    src: url('./../assets/belwe-bd-bt-bold.woff');
}

@font-face {
    font-family: frizFont;
    src: url('./../assets/FrizQuadrataRegular.woff');
}

body {
    min-height: 100vh;
    background-image: url('./../assets/background.jpg');
    font-family: frizFont;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.state-buttons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.player-class-icon {
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    &.Druid {
        background-image: url('./../assets/Druid.png');
    }
    &.Hunter {
        background-image: url('./../assets/Hunter.png');
    }
    &.Mage {
        background-image: url('./../assets/Mage.png');
    }
    &.Paladin {
        background-image: url('./../assets/Paladin.png');
    }
    &.Priest {
        background-image: url('./../assets/Priest.png');
    }
    &.Rogue {
        background-image: url('./../assets/Rogue.png');
    }
    &.Shaman {
        background-image: url('./../assets/Shaman.png');
    }
    &.Warlock {
        background-image: url('./../assets/Warlock.png');
    }
    &.Warrior {
        background-image: url('./../assets/Warrior.png');
    }
    &.Neutral {
        border-radius: 50%;
        background-color: blue;
    }
}

.Druid-color {
    background-color: #FF7D0A;
}
.Hunter-color {
    background-color: #ABD473;
}
.Mage-color {
    background-color: #69CCF0;
}
.Paladin-color {
    background-color: #F58CBA;
}
.Priest-color {
    background-color: #FFFFFF;
}
.Rogue-color {
    background-color: #FFF569;
}
.Shaman-color {
    background-color: #0070DE;
}
.Warlock-color {
    background-color: #9482C9;
}
.Warrior-color {
    background-color: #C79C6E;
}


