@font-face {
    font-family: belweFont;
    src: url('./../assets/belwe-bd-bt-bold.woff');
}

@font-face {
    font-family: frizFont;
    src: url('./../assets/FrizQuadrataRegular.woff');
}

body {
    min-height: 100vh;
    background-image: url('./../assets/background.jpg');
    font-family: frizFont;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.state-buttons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

